@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

input:focus{
  outline: #B82623 solid 1px;
}

h1 {
  color: #b82623;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.react-calendar {
  border: none !important;
  background-color: #dbdff3 !important;
  border-radius: 10px !important;
  width: 100%!important;
  height: 90%!important;
}

.react-calendar__navigation button {
  border-radius: 10px !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #B82623!important;
  color: #fff!important;
}

/* current date active */
.react-calendar__tile--now {
  background: #e0bbba!important;
}

/* active calendar cell */
.react-calendar__tile--active {
  background: #B82623!important;
  color: white;
}

/* modal sweetalert2 */
.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
    background-color: initial;
  background-color: #B82623 !important;
  color: #fff;
  font-size: 1em;
}

/* .swal2-file, .swal2-input, .swal2-textarea {
  box-sizing: border-box;
  width: 80%!important;
  transition: border-color .1s,box-shadow .1s;
  border: 1px solid #d9d9d9;
  border-radius: .1875em;
  background: 0 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.06),0 0 0 3px transparent;
  color: inherit;
  font-size: 1.125em;
} */

/* .swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: .8em 1em 0;
  color: inherit;
  font-size: 1.875em;
  font-weight: 600;
  text-align: left!important;
  text-transform: none;
  word-wrap: break-word;
} */

/* .swal2-html-container {
  color: inherit;
  font-size: 1.125em;
  font-weight: 400;
  line-height: normal;
  text-align: left!important;
  word-wrap: break-word;
  word-break: break-word;
} */
/* 
.input-field{
  display: flex;
} */

.medicine__container{
  display: flex!important;
  flex-direction: column!important;
  justify-content: flex-start!important;
  text-align: left!important;
}

.medicine__container label {
  margin-left: 40px;
}

.medicine__input{
  flex: 1 !important;
  padding: 15px!important;
}

