.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "container__left banner__image"
    "footer footer";
  grid-gap: 1rem;
}

@media only screen and(min-width: 400px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "container__left "
      "banner__image"
      "footer";
    grid-gap: 1rem;
  }
}

.container__left {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 20px;
  grid-area: container__left;
  gap: 1rem;
}

.banner__image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: banner__image;
}

.footer {
  grid-area: footer;
}

.getStartedBtn  {
  background-color: #b82623!important;
  width: 40%;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  /* width:100px!important;
  height: 30px !important;
  padding:10px !important; */
}

.getStartedBtn:hover {
  background-color: #db2f2c !important;
}

.getStartedBtn > a {
  width: 100%;
  /* height: 100%; */
  /* background-color: black; */
}
