/* .Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  color: #B82623;
  width: 100%;
  padding: 20px;
}
