.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.container__left {
  display: flex;
  height: inherit;
  width: 50%;
}

.container__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: inherit;
  padding-left: 130px;
  padding-right: 130px;
}
.container__right > .registerLink {
  text-align: center;
}

.remember__me > label {
  color: #585858 !important;
}

.ImageBanner {
  object-fit: cover;
  pointer-events: none;
}

.input {
  padding: 10px;
  outline: none;
  background-color: #dbdff3;
  border-radius: 20px;
  border: none;
}
.input:focus {
  outline: solid 2px #b82623;
}

.loginBtn {
  background-color: #b82623;
  color: white;
  border: none;
  border-radius: 20px;
}

.loginBtn:hover {
  background-color: #e62e2b;
  color: white;
  border: none;
}

.registerLink a {
  color: #b82623;
}

.registerLink a:hover {
  color: #e62e2b;
}
