.active {
  border-bottom: 3px solid #b82623;
}

.imageUploaded {
  height: inherit;
}

.medicineTabs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.tabs {
  display: flex;
  gap: 1rem;
}

.tab {
  border-bottom: 2px solid #dbdff3;
}

.tab:hover,
.active:hover {
  cursor: pointer;
}

.btn__uploadFile {
  display: flex;
  align-items: center;
  position: absolute;
  translate: -80px 90px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: grey;
}

.btn__cancelFile {
  display: flex;
  align-items: center;
  position: absolute;
  translate: 0px 100px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: grey;
}

/* reports styling */

.catergories {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
}

.category__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 300px;
  height: 120px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
}

.product__list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
}

.container__date__picker{
  width: 220px;
}

