.active {
  border-bottom: 3px solid #b82623;
}

.medicineTabs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.tabs {
  display: flex;
  gap: 1rem;
}

.tab {
  border-bottom: 2px solid #dbdff3;
}

.tab:hover,
.active:hover {
  cursor: pointer;
}
